body {
    background-color: rgb(6, 7, 19);
}
#title {
    text-align: center;
    color: rgb(204, 192, 173);
}
#calcGrid {
    margin: 0 auto;
    width: 320px;
    background-color: rgb(58, 78, 107);
    border-radius: 4%;
    padding: 15px;
}

#calcDisplay {
    width: 320px;
    background-color: rgb(105, 105, 105);
}
#precText {
    text-align: right;
    font-size: 14px;
    margin: 0;
    height: 20px;
    padding-top: 5px;
    padding-right: 5px;
}
#displayText {
    text-align: right;
    font-size: 20px;
    margin: 0;
    height: 25px;
    padding-top: 5px;
    padding-right: 5px;
}

#calcInputs {
    display: flex;
    margin-top: 20px;
}
.input {
    height: 80px;
    width: 80px;
    padding: 0;
    font-size: 20px;
}
#numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.numberInput {
    background-color: rgb(151, 209, 211);
    border-color: rgb(151, 209, 211);
}
.numberInput[data-number="0"] {
    grid-column: 1 / span 2;
    width: 160px;
}
#functions {
    display: grid;
    grid-template-columns: 1fr;
}
.functionInput {
    background-color: rgb(211, 207, 151);
    border-color: rgb(211, 207, 151);
}
.functionInput[data-function="="] {
    background-color: rgb(151, 211, 166);
    border-color: rgb(151, 211, 166);
}
.operator {
    background-color: rgb(179, 151, 211);
    border-color: rgb(179, 151, 211);

}
.input:disabled {
    background-color: rgb(126, 126, 126);
    border-color:  rgb(92, 92, 92);
    color: black;
}

