#title {
    text-align: center;
}
#calcGrid {
    margin: 0 auto;
    width: 320px;
    background-color: lightcoral;
    border-radius: 4%;
    padding: 10px;
}

#calcGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calcDisplay {
    width: 320px;
    background-color: grey;
}
#precText {
    border-bottom: 1px solid rgb(97, 97, 97);
    text-align: right;
    font-size: 14px;
    margin: 0;
    height: 20px;
    padding-top: 5px;
}
#displayText {
    text-align: right;
    font-size: 20px;
    margin: 0;
    height: 25px;
    padding-top: 5px;
}

#calcInputs {
    display: flex;
}
.input {
    height: 80px;
    width: 80px;
}
.input:disabled {
    background-color: rgb(56, 56, 56);
}
#numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.numberInput[data-number="0"] {
    grid-column: 1 / span 2;
    width: 160px;
}
#functions {
    display: grid;
    grid-template-columns: 1fr;
}
